@font-face{
    font-family: "Western";
    src: url("montague/Montague.ttf");
 
}
body:hover{
    transition-property: all;
    transition-duration: 2s;
    transform: rotate(360deg);
}


#banniere1{
    padding: 50px;
    width: 100%;
    background:linear-gradient(brown, yellow);
    text-align: center;
    font-family: "Western";
    text-shadow:1px 2px black;
    font-size: xx-large;
    transition: 3s ;
}

#test:hover #banniere1{
    transform: skew(180deg, 0);
    }




body{
    display: grid;
    font-size: 200%;
    grid-area: center;
    justify-content: center;
    align-items: center;

}
